
body {
  padding: 0;
  margin: 0;
}

html,
body,
#map {
  margin-top: 0px;
  font-family: "Roboto Serif", serif;
  height: 100vh;
  width: 100%;
}
#map {
  position: relative;
}

.row {
  display: flex;
  flex-direction: column;
}

.container-fluid {
  background: #ffffff;
  height: 120px;
  margin: 5px;
  width: 95%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding: 1px;
}

.uw-slant,
.uw-slant-large {
  background-color: #eb1717;
  transform: skew(-25deg, 0);
  display: block;
  width: 80%;
  margin-left: 20px;
  height: 3px;
  margin-bottom: 10px;
  transition: 0.5s;
  flex-shrink: 0;
}

#title-slant {
  margin-left: 10%;
  width: 77%;
}

.uw-slant-large {
  transform: skew(0deg, 0);
  margin-left: 20px;
  width: 70.6%;
  height: 5px;
}

#title {
  color: #006938;
  font-size: 12pt;
  width: 220px;
  box-sizing: border-box;
  margin: 8%;
  padding-left: 5px;
  font-weight: 700;
  font-family: "Castoro", sans-serif;
  opacity: 1;
  margin-top: 10px;
  margin-bottom: 3px;
  margin-left: 10%;
}

.leaflet-menu {
  position: absolute;
  background-color: #8c013c;
  overflow: auto;
  cursor: default;
  z-index: 9999;
}

.list-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: none;
}

.list-group {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  padding: 0px;
  margin-left: 0px;
}

.list-group-item {
  font-size: small;
  margin-left: 0px;
  padding: 4px;
}

.list-group {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  border-radius: 0px;
}

#terms {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.accordion {
  width: 100%;
  margin-left: 0px;
  padding-left: 10px;
}

.accordion-body {
  height: auto;
  max-height: 90px;
  overflow-y: visible;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  margin-left: 20px;
  width: 80%;
}

.header {
  display: block;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #ffffff;
  opacity: 1;
  font-size: 12pt;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 5px 2px 2px;
  width: 90%;
}

.header:hover {
  opacity: 0.6;
  transition: 0.2s;
}

.accordion-item {
  background-color: #8c013c;
  width: 100%;
  margin-left: 0px;
  margin-top: 10px;
  border: none;
}

.header {
  margin-top: 5px;
}

.btn btn-link {
  margin: 0px;
  padding: 0px;
}
#online-alert,
#offline-alert {
  position: absolute;
  top: 94%;
  left: 15%;
  z-index: 9999;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 270px;
  justify-content: center;
  align-items: center;
  display: none;
}
